input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select-row-container {
  display: flex;
  

  .select-row-container-instrument {
    display: flex;
    width: 66vw;
    justify-content: space-around;
  }  
}

.test-point-row {
  display: flex;
  justify-content: center;
  align-items:flex-end
}
